<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Owin.Extensions" version="0.8.5" targetFramework="net462" />
  <package id="Owin.Types" version="0.8.5" targetFramework="net462" />
  <package id="prometheus-net" version="1.1.4.0" targetFramework="net462" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net462" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net462" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net462" />
</packages>